.chessMan{
  transition:transform ease .3s;
}

.bat{
  background-image: url(./bat.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: inherit;
  height: inherit;
}

.ground{
  width: inherit;
  height: inherit;
}

.swords{
  background-image: url(./swords.png);
  background-repeat: no-repeat;
  background-size: 80% 80%;
  background-position: center;
  width: inherit;
  height: inherit;
}