#board {  
  display: flex;
  flex-wrap: wrap;
  width: 480px;
  height: 480px;
  border: 0.2em solid tan;
  background-color: burlywood;
  box-shadow: 0 0.3em 2em 0.4em rgba(0, 0, 0, 0.3);
  /* transform: rotateZ(90deg) rotateX(180deg); */
}

#board .col:nth-child(odd) .cell:nth-child(even),
.col:nth-child(even) .cell:nth-child(odd) {
  background-color: rgba(0,0,0,.6);
}

.cell {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}